<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - TodoHouessou</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.png" >
</head>
<body id="body" style="visibility:visible" ng-app="todosApp">

    <!-- logo -->
    <div class="container-fluid" style="text-align: center">
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" id="logo" align="center"/>
            <b id="brand-title"></b>
        </a>
    </div>
    <p>
      <br>
      <br>
    </p>
    <!-- Search, New todo and Sign out buttons -->
    <div class="container">
      <div class='btn-toolbar float-left'>
        <input type="text" id="searchTodosFilter" placeholder="Search todo.." name="searchTodo">
        <button type="button" id="searchTodosButton" ng-controller="todosListController" ng-click="searchTodosClicked()" class="btn btn-outline-light btn-sm"><img src="img/search.png" title="search" id="search-img"/></button>
        &nbsp;
        <button type="button" id="showAllTodosButton" ng-controller="todosListController" ng-click="showAllTodosClicked()" class="btn btn-primary btn-sm">Show All</button>
      </div>
      <div class='btn-toolbar float-right'>
          <button type="button" id="addTodoButton" class="btn btn-success btn-nav" data-toggle="modal" data-target="#newTodoModal">New todo</button>
          &nbsp;
          <button type="button" id="signOutButton" class="btn btn-dark btn-nav" onclick="logOut();">Sign out</button>
          <button type="button" id="signInButton" class="btn btn-sm btn-nav d-none" onclick="logOut();">Sign in</button>
      </div>
    </div>
    <br> 
    <br>
    <!-- todos list container -->
    <div class="container">
        <div id="todosGrid" class="row" ng-controller="todosListController">
          <div class="col-md-4 border border-info" ng-repeat="todo in todos">
              <br>
                <p align="center">
                    <strong> {{todo.title}}</strong>
                    <br>
                    {{todo.description}}
                    <br>
                    <b>Due Date:</b> {{todo.dateDue}}
                    <br>
                    <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#descriptionModal" data-todoid="{{todo.todoID}}">Details</button>
                    <br>
                </p>
              <br>
          </div>
        </div>
    </div>
   
    <!-- Description Modal -->
    <div class="modal fade bd-example-modal-lg" id="descriptionModal" tabindex="-1" aria-hidden="true" ng-controller="todoDescriptionController">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4><img src="img/to-do-list.png" title="todo" id="todo-img"/> {{descriptionTodo.title}}</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
        <!-- Modal Body -->
          <div class="modal-body">
            <p id="descriptionDescription"><b>Description</b> <br> {{descriptionTodo.description}}</p>
            <br>
            <p id="descriptionDateDue"><b>Due Date:</b> {{descriptionTodo.dateDue}}</p>
            <br>
            <p id="descriptionDateCreated"><b>Created Date:</b> {{descriptionTodo.dateCreated}}</p>
            <br>
            <textarea class="form-control" id="descriptionNotes" >{{descriptionTodo.notes}}</textarea>
            <div class="row">
              <div class="col-md-12">
                  <img src="img/paperclip.png" title="attachments" id="attachments-img"/>
                  <p id="descriptionAttachements"><b>Attachements</b></p>
              </div>
              <br>
              <div class="container">
                <div id="todoFilesGrid" class="row" ng-controller="todoFilesListController">
                  <div class="col-auto" id={{file.fileID}} ng-repeat="file in files">
                        <p align="center">
                          <a href={{file.filePath}}>{{file.fileName}}</a>
                          <button id="deleteFileButton" align="center" type="button" ng-click="deleteFileClicked(file.todoID, file.fileID, file.filePath)" class="btn btn-outline-info btn-sm"><img src="img/cross.png" title="deleteFile" id="deleteFile-img"/></button>
                        </p>
                  </div>
                </div>
              </div>
            </div>
            <p><br></p>
            <div class="col-sm-auto d-none" id="addFilesForm">
              <div class="input-group input-group upload-form">
                  <div class="input-group-prepend">
                      <span type="button" class="btn btn-custom" id="uploadButton" ng-click="uploadFileClicked(descriptionTodo.todoID)">Upload</span>
                  </div>
                  <div class="custom-file">
                      <input type="file" class="form-control-file input-group" id="fileinput" aria-describedby="fileinput" onChange="addFileName();">
                      <label class="custom-file-label" for="fileinput" id="fileName">Choose File</label>
                  </div>
              </div>
            </div> 
          </div>
          <br>
          <div class="modal-footer">
            <button id="saveNotesButton" align="center" type="button" ng-click="saveNotesClicked(descriptionTodo.todoID)" class="btn btn-dark btn-sm">Save</button>
            <button id="showAddFilesButton" align="center" type="button" onclick="showAddFilesForm();" class="btn btn-secondary btn-sm">New <img src="img/file.png" title="attachments" id="attachments-img"/></button>
            <div align="center">
              <button id="completedButton" align="center" type="button" ng-click="completedClicked(descriptionTodo.todoID)" class="btn btn-outline-success btn-sm">Mark Completed!</button>
              <button id="alreadyCompletedButton" align="center" type="button" class="btn btn-success btn-sm d-none" disabled>Completed!</button>
            </div>
            <button id="deleteTodoButton" align="center" type="button" ng-click="deleteTodoClicked(descriptionTodo.todoID, descriptionTodo.title)" class="btn btn-danger btn-sm">Delete</button>
         </div>
        </div>
      </div>
  </div>
  <!-- End Description Modal -->

    <!-- New Todo Modal -->
    <div class="modal fade" id="newTodoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4><img src="img/new.png" title="todo" id="todo-img"/> Add a new todo</h4>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <form id="newTodoForm">
                <label for="newTodoModalTitle">Title: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id ="newTodoModalTitle" name="newTodoModalTitle" placeholder="" required />
                <br>
                <label for="newTodoModalDateDue">Due date: &nbsp;&nbsp;</label>
                <input type="date" id ="newTodoModalDateDue" name="newTodoModalDateDue" min="2021-01-01"/>
                <br>
                <label for="newTodoModalDescription">Description:</label>
                <textarea class="form-control" id="newTodoModalDescription" ></textarea>
                <br>
                <input type="submit" id="newTodo-modal-button" name="newTodoButton" class="btn btn-outline-success" value="Add todo!" />
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- End New Todo Modal --> 

    <!-- Importing scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.135.0.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
    <script src="js/aws-cognito-sdk.min.js"></script>
    <script src="js/amazon-cognito-identity.min.js"></script>
    <script src="js/script.js"></script>
    <!--New scripts for extra small button-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <p>
        <br>
        <br>
        &nbsp;&nbsp;This site is a sample todo-list app created for training purposes. <a href="https://blogs.houessou.com/sample-todo-app-aws">More details here.</a>
    </p>
</body>
<script>
 
    checkLogin(false, true);

    var app = angular.module('todosApp', []);
    var gridScope;
    var descriptionScope;
    var filesScope;
    
    var configString = localStorage.getItem("awsConfig");
    var config = JSON.parse(configString);
    if(config != null) {
        refreshAWSCredentials();
        loggedInDisplay();
    }

    $("#newTodoForm").submit(function(event) {
        event.preventDefault();
        $('#newTodoModal').modal('toggle');
        var title = document.getElementById('newTodoModalTitle').value;
        var dateDue = document.getElementById('newTodoModalDateDue').value;
        var description = document.getElementById('newTodoModalDescription').value;
        addTodo(dateDue, title, description);
    });

    $('#descriptionModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var todoID = button.data('todoid');
        localStorage.setItem('todoID', todoID);
        getTodo(todoID, updateModalText);
    });

    $('#descriptionModal').on('hidden.bs.modal', function (event) {
      hideAddFilesForm();
    });

    app.controller('todosListController', function($scope) {
        gridScope = $scope;

        getTodos(applyGridScope);

        $scope.searchTodosClicked = function() {
          var filter = document.getElementById('searchTodosFilter').value;
          console.log("Getting searched todos");
          getSearchedTodos(filter, applyGridScope);
        }

        $scope.showAllTodosClicked = function(){
          $("#searchTodosFilter").replaceWith($("#searchTodosFilter").val('').clone(true));
          getTodos(applyGridScope);
        }
    });

    app.controller('todoFilesListController', function($scope) {
        filesScope = $scope;
        $scope.deleteFileClicked = function (todoID, fileID, filePath){
            console.log("deleting file " + fileID)
            deleteTodoFile(todoID, fileID, filePath, markFileDeleted)
        }
    });

    app.controller('todoDescriptionController', function($scope) {
        descriptionScope = $scope;

        $scope.completedClicked = function(todoID) {
            console.log("marked as completed: " +  todoID);
            completeTodo(todoID, markCompleted);
        }
        
        $scope.saveNotesClicked = function(todoID) {
            var notes = document.getElementById('descriptionNotes').value + "\n";
            console.log("notes | " + notes + " | for: " +  todoID);
            addTodoNotes(todoID, notes);
            $('#descriptionModal').on('hidden.bs.modal', function(event) {
                location.reload();
            });
        }

        $scope.uploadFileClicked = function(todoID) {
          var files = document.getElementById('fileinput').files;
          addTodoFiles(todoID, files, getTodoFiles);
          //$('#descriptionModal').on('hidden.bs.modal', function(event) {
            //locatio.reload();
          //});
        }

        $scope.deleteTodoClicked = function(todoID, title){
          confirmDeleteTodo(todoID, title);
        }
    });

</script>
</html>