<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - TodoHouessou</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.png" >
</head>
<body id="body" style="visibility:visible" ng-app="todosApp">

    <!-- logo -->
    <div class="container-fluid" style="text-align: center">
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" id="logo" align="center"/>
            <b id="brand-title"></b>
        </a>
    </div>
   
    <!-- New todo and Sign out buttons -->
    <div class="container">
        <div class='btn-toolbar float-right'>
            <button type="button" id="addTodoButton" class="btn btn-success btn-nav" data-toggle="modal" data-target="#newTodoModal">New todo</button>
          &nbsp;
            <button class="btn btn-dark btn-nav" onclick="logOut();">Sign out</button>
        </div>
    </div>
    <br> 
    <br>
    <!-- todos list container -->
    <div class="container">
        <div id="todosGrid" class="row" ng-controller="todosListController">
          <div class="col-md-4 border border-info" ng-repeat="todo in todos">
              <br>
                <p align="center">
                    <strong> {{todo.title}}</strong>
                    <br>
                    <b>Due Date:</b> {{todo.dateDue}}
                    <br>
                    <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#descriptionModal" data-todoid="{{todo.todoID}}">Details</button>
                    <br>
                </p>
              <br>
          </div>
        </div>
    </div>
   
    <!-- Description Modal -->
    <div class="modal fade bd-example-modal-lg" id="descriptionModal" tabindex="-1" aria-hidden="true" ng-controller="todoDescriptionController">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h6>{{todo.title}}</h6>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
          <!-- Modal Body -->
            <div class="modal-body">
              <p id="profileDescription"><b>Description:</b> <br> {{todo.description}}</p>
              <br>
              <br>
              <p id="profileDateDue"><b>Due Date:</b> {{todo.dateDue}}</p>
              <br>
              <p id="profileDateCreated"><b>Created Date:</b> {{todo.dateCreated}}</p>
              <br>
              <p align="center">
                <button id="completedButton" align="center" type="button" ng-click="completdClicked(descriptionTodo.todoID)" class="btn btn-outline-success">Mark Completed!</button>
                <button id="alreadyCompletedButton" align="center" type="button" class="btn btn-success d-none" disabled>Todo Completed!</button>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
          </div>
        </div>
    </div>
    <!-- End Description Modal -->

    <!-- New Todo Modal -->
    <div class="modal fade" id="newTodoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h5>Add a new todo</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <form id="newTodoForm">
                <label for="newTodoModalTitle">Title: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id ="newTodoModalDateDue" name="newTodoModalDateDue" placeholder="" />
                <br>
                <label for="newTodoModalDateDue">Due date: &nbsp;&nbsp;</label>
                <input type="text" id ="newTodoModalDateDue" name="newTodoModalDateDue" placeholder="yyyy-mm-dd" />
                <br>
                <label for="newTodoModalDescription">Description:</label>
                <textarea class="form-control" id="newTodoModalDescription" ></textarea>
                <br>
                <input type="submit" id="newTodo-modal-button" name="newTodoButton" class="btn btn-outline-success" value="Add todo!" />
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- End New Todo Modal --> 

    <div id="modal-message"></div>

    <!-- Importing scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script
    <script src="js/amazon-cognito-identity.min.js"></script>
    <script src="js/aws-sdk.min.js"></script>
    <script src="js/script.js"></script>
    <!-- <script src="scripts/ajaxCallExample.js"></script> -->

    <p>
        <br>
        <br>
        &nbsp;&nbsp;This site is a sample todo-list app created for training purposes <a href="https://hpfpv.houessou.com/aws-modern-application">GitHub repository here.</a>
    </p>
</body>
<script>
    var todoApiEndpoint = 'https://j3cv37qhud.execute-api.us-east-1.amazonaws.com/dev/';
    var cognitoUserPoolId = 'us-east-1_fM3BzKm1u';
    var cognitoUserPoolClientId = '4ajb6clml9vft00cof689o6c0p';
    var awsRegion = 'us-east-1';

    var app = angular.module('todosApp', []);

    var gridScope;

    var descriptionScope;

    initializeStorage();

    var configString = localStorage.getItem("awsConfig");
    var config = JSON.parse(configString);
    if(config != null) {
        refreshAWSCredentials();
        loggedInDisplay();
    }

    function loggedInDisplay() {
        $('#body').css({'visibility':'visible'});
    }

    function initializeStorage() {
      var identityPoolId = cognitoUserPoolId;//
      var userPoolId = cognitoUserPoolId; //
      var clientId = cognitoUserPoolClientId;//
      var loginPrefix = 'cognito-idp.' + awsRegion + '.amazonaws.com/' + identityPoolId;

      localStorage.setItem('identityPoolId', identityPoolId);
      localStorage.setItem('userPoolId', userPoolId);
      localStorage.setItem('clientId', clientId);
      localStorage.setItem('loginPrefix', loginPrefix);
    }

    $("#newTodoForm").submit(function(event) {
      event.preventDefault();
      $('#newTodoModal').modal('toggle')
      var title = document.getElementById('newTodoModalTitle').value;
      var dateDue = document.getElementById('newTodoModalDateDue').value;
      var description = document.getElementById('newTodoModalDescription').value;
      addTodo(dateDue, title, description);
    });

    app.controller('todosListController', function($scope) {

        gridScope = $scope;
        getTodos(applyGridScope);

    });

    app.controller('todoDesriptionController', function($scope) {

        descriptionScope = $scope;

        $scope.completeClicked = function(todoID) {
        console.log("complete clicked: " +  todoID);
        completeTodo(todoID, markCompleted);
        }
    });


    function updateModalText(profileMysfit) {

        applyDescriptionScope(descriptionTodo);

        if (descriptionTodo.completed == true) {
            markCompleted();
        } else {
            markNotCompleted();
        }

    }

    function markCompleted() {
        $("#completedButton").addClass("d-none");
        $("#alreadyCompletedButton").removeClass("d-none");
    }

    function markNotCompleted() {
        $("#completedButton").removeClass("d-none");
        $("#alreadyCompletedButton").addClass("d-none");
    }


    function applyGridScope(todosList) {
    gridScope.todos = todosList;
    gridScope.$apply();
    }

    function applyDescriptionScope(todo) {
    descriptionScope.descriptionTodo = todo;
    descriptionScope.$apply();
    }

    function login(){
        var userPoolId = localStorage.getItem('userPoolId');
        var clientId = localStorage.getItem('clientId');
        var identityPoolId = localStorage.getItem('identityPoolId');
        var loginPrefix = localStorage.getItem('loginPrefix');

        var poolData = {
            UserPoolId : userPoolId, // Your user pool id here
            ClientId : clientId // Your client id here
        };
        var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

        var username = $('#username').val();
        var authenticationData = {
            Username: username,
            Password: $('#password').val()
        };

        var authenticationDetails = new AmazonCognitoIdentity.AuthenticationDetails(authenticationData);

        var userData = {
            Username : username,
            Pool : userPool
        };
        var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

        console.log(cognitoUser);
        cognitoUser.authenticateUser(authenticationDetails, {
            onSuccess: function (result) {
            var accessToken = result.getAccessToken().getJwtToken();
            console.log('Authentication successful', accessToken);
            var sessionTokens =
            {
                IdToken: result.getIdToken(),
                AccessToken: result.getAccessToken(),
                RefreshToken: result.getRefreshToken()
            };
            localStorage.setItem('sessionTokens', JSON.stringify(sessionTokens))
            localStorage.setItem('userID', username);
            window.location = './home.html';
            },

            onFailure: function(err) {
            console.log('failed to authenticate');
            console.log(JSON.stringify(err));
            alert('Failed to Log in.\nPlease check your credentials.');
            },
        });
    }

    function refreshAWSCredentials() {
        var userPoolId = localStorage.getItem('userPoolId');
        var clientId = localStorage.getItem('clientId');
        var identityPoolId = localStorage.getItem('identityPoolId');
        var loginPrefix = localStorage.getItem('loginPrefix');

        var poolData = {
        UserPoolId : userPoolId, // Your user pool id here
        ClientId : clientId // Your client id here
        };
        var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
        var cognitoUser = userPool.getCurrentUser();

        if (cognitoUser != null) {
            cognitoUser.getSession(function(err, result) {
                if (result) {
                    console.log('You are now logged in.');
                    cognitoUser.refreshSession(result.getRefreshToken(), function(err, result) {

                        if (err) {//throw err;
                            console.log('In the err: '+err);
                        }
                        else{
                            localStorage.setItem('awsConfig', JSON.stringify(AWS.config));
                            var sessionTokens =
                            {
                                IdToken: result.getIdToken(),
                                AccessToken: result.getAccessToken(),
                                RefreshToken: result.getRefreshToken()
                            };
                            localStorage.setItem("sessionTokens", JSON.stringify(sessionTokens));

                        }
                    });

                }
            });
        }
    }

    function logOut() {
        localStorage.clear();
        document.location.reload();
        window.location = './index.html';
    }

    function getTodos(callback) {
        var userID = localStorage.getItem('userID');
        var todoApi = todoApiEndpoint + userID +'/todos';

        $.ajax({
        url : todoApi,
        type : 'GET',
        success : function(response) {
            callback(response.todos);
        },
        error : function(response) {
            console.log("could not retrieve todos list.");
            if (response.status == "401") {
            refreshAWSCredentials();
            }
        }
        });
    }

    function getTodo(todoID, callback) {
        var userID = localStorage.getItem('userID');
        var todoApi = todoApiEndpoint + userID +'/todos/' + todoID;

        $.ajax({
        url : todoApi,
        type : 'GET',
        success : function(response) {
            callback(response.todos);
        },
        error : function(response) {
            console.log("could not retrieve todo.");
            if (response.status == "401") {
            refreshAWSCredentials();
            }
        }
        });
    }

    function addTodo(dateDue, title, description){
        var userID = localStorage.getItem('userID');
        var todoApi = todoApiEndpoint + userID + "/todos/add";

        var sessionTokensString = localStorage.getItem('sessionTokens');
        var sessionTokens = JSON.parse(sessionTokensString);
        var IdToken = sessionTokens.IdToken;
        var idJwt = IdToken.jwtToken;

        todo = {
        title: title,
        description: description,
        dateDue: dateDue,
        }

        $.ajax({
        url : todoApi,
        type : 'POST',
        headers : {'Content-Type': 'application/json'},
        dataType: 'json',
        data : JSON.stringify(todo),
        success : function(response) {
            console.log("todo added!")
        },
        error : function(response) {
            console.log("could not add todo");
            console.log(response);
        }
        });
    }
</script>
</html>