<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - TodoHouessou</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.png" >
</head>
<body id="body" style="visibility:visible" ng-app="todosApp">

    <div class="container">
        <div class='btn-toolbar float-right'>
            <input type="text" id="searchTodosFilter" placeholder="Search todo.." name="searchTodo">
            <button type="submit" id="searchTodosButton" ng-click="searchTodosClicked()" class="btn btn-outline-light btn-sm"><img src="img/search.png" title="search" id="search-img"/></button>
            &nbsp;
            <button type="button" id="addTodoButton" class="btn btn-success btn-nav" data-toggle="modal" data-target="#newTodoModal">New todo</button>
            &nbsp;
            <button type="button" id="signOutButton" class="btn btn-dark btn-nav" onclick="logOut();">Sign out</button>
            <button type="button" id="signInButton" class="btn btn-sm btn-nav d-none" onclick="logOut();">Sign in</button>
        </div>
    </div>
    
    <div class="container">
        <div class="row align-items-start">
            <div class="col-auto ">
                <div>
                    <p>
                        1 of 2
                        <button id="deleteFileButton" align="center" type="button" class="btn btn-outline-light btn-sm"><img src="img/cross.png" title="deleteFile" id="deleteFile-img"/></button>
                    </p>
                </div>
            </div>
            <div class="col-auto ">
                <div>
                    1 of 2 of oiwe oijf
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-none" id="addFilesForm">
            <div class="input-group input-group upload-form">
                <div class="input-group-prepend">
                    <span type="button" class="btn btn-custom" id="uploadButton" ng-click="uploadFileClicked(descriptionTodo.todoID)">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="form-control-file input-group" id="fileinput" aria-describedby="fileinput" onChange="addFileName();">
                    <label class="custom-file-label" for="fileinput" id="fileName">Choose File</label>
                </div>
            </div>
          </div>
        <div class="col-sm-auto" id="addFilesForm">
            <div class="input-group upload-form">
                <div class="input-group-prepend">
                    <span type="button" class="btn btn-success" id="uploadButton" ng-click="uploadFileClicked(descriptionTodo.todoID)">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="form-control-file input-group-sm" id="fileinput" aria-describedby="fileinput" onChange="addFileName();">
                    <label class="custom-file-label" for="fileinput" id="fileName">Choose File</label>
                </div>
            </div>
          </div>
          
          <br>
        <div class="row">
            <div class="col border border-primary">
                1 of 3
            </div>
            <div class="col border border-primary">
                2 of 3
            </div>
            <div class="col border border-primary">
                3 of 3
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.135.0.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
    <script src="js/aws-cognito-sdk.min.js"></script>
    <script src="js/amazon-cognito-identity.min.js"></script>
    <script src="js/script.js"></script>
    <!--New scripts for extra small button-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--New scripts for search-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>