#logo {
    width: 55%;
}
#attachments-img {
    width: 10%;
}

#deleteFile-img {
    width: 60%;
}

#newattachments-img {
    width: 10%;
}

@media (max-width: 800px) { 
    #logo {
        max-width: 400px;
    }
 }

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
.search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
.bg-light {
    background-color: white;
}

#brand-title {
    color: black;
}

.signin-title {
    margin: 15px;
}

.input-field>label:first-of-type{
    display:block;
    margin-bottom:.5rem;
    font-weight:400
}
.input-field>label:first-of-type.h5{
    font-weight:600
}

.input-field{
    position:relative;
    margin-bottom:1.5rem;
    margin-top:1.5rem;  
    border-radius:0px;
}

.signin{
    width: 100%;
    border-radius:0px;
    margin-top:1rem; 
    padding: 0.6rem; 
}

.btn-custom{
    background-color:#009933;
    border-color: #00802b;
    color: white;
}

.btn-custom:active,.btn-custom:target,
.btn.btn-custom:active,.btn.btn-custom:focus,.btn.btn-custom:hover 
{
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);

    background-color: white;
    color: #009933;
    border-color: #009933;
}


.btn.btn-dark:active,.btn.btn-dark:focus,.btn.btn-dark:hover {
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    background-color: white;
    color: black;
}

.upload-title {
    display: inline;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 20px;
    
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#s3-img {
    display: inline;
    margin-left: 15px;
    width: 8%;
}

@media screen and (max-width: 1024px) { 
    #s3-img {
        width: 10%;
    }
 }


@media screen and (max-width:  992px) {
    .upload-form {
        margin-top: 15px;
    }
}